<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cards</title>

    <link rel="stylesheet" href="style_registration.css" />
  </head>

  <body>
    <div class="grid">
      <div class="grid-item">
        <div class="card">
          <div class="card-content">
            <div class="Bird-container">  <h1 class="card-header" style="text-align:center;margin-top: 15px;" >Early Bird</h1></div>

            <p class="card-text">
            <h2 style="text-align:left;letter-spacing:.07rem;margin-left: 15px;">  Till Oct 15,2022</h2>
            </p>
            <hr>
            <h3 style="text-align:center">Member Student <h3 style="padding: 0;margin-left: 25px;">₹300</h3> </h3>
          <hr>
          <h3 style="text-align:center">Member Faculty<h3 style="padding: 0;margin-left: 25px;">₹4000</h3> </h3>
        <hr>
        <h3 style="text-align:center;padding-left:16px;">Non Member Student <h3 style="padding: 0;margin-left: 25px;">₹3500</h3> </h3>
      <hr>
      <h3 style="text-align:center;padding-left:16px;">Non Member Faculty <h3 style="padding: 0;margin-left: 25px;">₹300</h3> </h3>
    <hr>
  <h3 style="text-align:center;padding-left:4px;">Foreign Delegates<h3 style="padding: 0;margin-left: 25px;">$100</h3> </h3>
            <button class="card-btn" style="margin-bottom: 20px;">Buy Now!</button>
          </div>
        </div>
      </div>
      <div class="grid-item">
        <div class="card">
          <div class="card-content">
            <div class="Bird-container">  <h1 class="card-header" style="text-align:center;margin-top: 15px;" >Regular</h1></div>

            <p class="card-text">
          <h2 style="text-align:left;letter-spacing:.07rem;margin-left: 15px;">Till Oct 31,2022</h2>
            </p>
            <hr>
            <h3 style="text-align:center">Member Student <h3 style="padding: 0;margin-left: 25px;">₹3500</h3> </h3>
          <hr>
          <h3 style="text-align:center">Member Faculty <h3 style="padding: 0;margin-left: 25px;">₹500</h3> </h3>
        <hr>
        <h3 style="text-align:center;padding-left:16px;">Non Member Student <h3 style="padding: 0;margin-left: 25px;">₹4000</h3> </h3>
      <hr>
      <h3 style="text-align:center;padding-left:16px;">Non Member Faculty <h3 style="padding: 0;margin-left: 25px;">₹6000</h3> </h3>
    <hr>
    <h3 style="text-align:center;padding-left:4px;">Foreign Delegates <h3 style="padding: 0;margin-left: 25px;">$150</h3> </h3>
            <button class="card-btn" style="margin-bottom: 20px;">Buy Now!</button>
          </div>
        </div>
      </div>
      <div class="grid-item">
        <div class="card">
          <div class="card-content">
            <div class="Bird-container">  <h1 class="card-header" style="text-align:center;margin-top: 15px;" >Late/on spot</h1></div>

            <p class="card-text">
          <h2 style="text-align:left;letter-spacing:.07rem;margin-left: 15px;">Nov 01,2022 Onwards</h2>
            </p>
            <hr>
            <h3 style="text-align:center">Member Student <h3 style="padding: 0;margin-left: 25px;">₹4000</h3> </h3>
          <hr>
          <h3 style="text-align:center">Member Faculty <h3 style="padding: 0;margin-left: 25px;">₹6000</h3> </h3>
        <hr>
        <h3 style="text-align:center;padding-left:16px;">Non Member Student <h3 style="padding: 0;margin-left: 25px;">₹500</h3> </h3>
      <hr>
      <h3 style="text-align:center;padding-left:16px;">Non Member Faculty <h3 style="padding: 0;margin-left: 25px;">₹7000</h3> </h3>
    <hr>
    <h3 style="text-align:center;padding-left:4px;">Foreign Delegates <h3 style="padding: 0;margin-left: 25px;">$200</h3> </h3>
            <button class="card-btn" style="margin-bottom: 20px;">Buy Now!</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
