.dateCard{
    width: 530px;
}
.dateCardIn{
    background-color: rgba(42,84,98,0.56);
    transition-duration: 250ms;
}
.dateCardIn:hover{
    box-shadow:  0 4px 6px 0 rgba(0, 0, 0, 0.15), 0 6px 10px 0 rgba(0, 0, 0, 0.145);
}
@media screen and (min-width: 1092px){
    .textCustomcenter{
        text-align: center;
    }
}
.dateHeading{
    font-size: 25px;
    color: #fff;
    transition-duration: 500ms;
}
