.galleryyy .gallery{
    margin:20px;
    padding:0;
    text-align:center;
}
.galleryyy .container{
    display:grid;
    grid-template-columns: repeat(6,1fr);
    grid-auto-rows:100px 300px;
    grid-gap:10px;
    grid-auto-flow: dense;
}

.galleryyy .gallery-item{
    width:100%;
    height:100%;
    position:relative;
}

.galleryyy .gallery-item .image{
    width:100%;
    height:100%;
    overflow:hidden;
}

.galleryyy .gallery-item .image img{
    width:100%;
    height:100%;
    object-fit: cover;
    object-position:50% 50%;
    cursor:pointer;
    transition:.5s ease-in-out;
}
.galleryyy .gallery-item:hover .image img{
    transform:scale(1.5);
}

.galleryyy .gallery-item .text{
    opacity:0;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    color:#fff;
    font-size:25px;
    pointer-events:none;
    z-index:4;
    transition: .3s ease-in-out;
    -webkit-backdrop-filter: blur(5px) saturate(1.8);
    backdrop-filter: blur(5px) saturate(1.8);
}

.galleryyy .gallery-item:hover .text{
    opacity:3;
    animation: move-down .3s linear;
    padding:1em;
    width:100%;
}

.galleryyy .gallery .w-1{
    grid-column: span 1;
}
.galleryyy .gallery .w-2{
    grid-column: span 2;
}
.galleryyy .gallery .w-3{
    grid-column: span 3;
}
.galleryyy .gallery .w-4{
    grid-column: span 4;
}
.galleryyy .gallery .w-5{
    grid-column: span 5;
}
.galleryyy .gallery .w-6{
    grid-column: span 6;
}

.galleryyy .gallery .h-1{
    grid-row: span 1;
}
.galleryyy .gallery .h-2{
    grid-row: span 2;
}
.gallery .h-3{
    grid-row: span 3;
}
.galleryyy .gallery .h-4{
    grid-row: span 4;
}
.galleryyy .gallery .h-5{
    grid-row: span 5;
}
.galleryyy .gallery .h-6{
    grid-row: span 6;
}




@media screen and (max-width:500px){
    .galleryyy .container{
        grid-template-columns: repeat(1,1fr);
    }
    .galleryyy .gallery .w-1,.galleryyy .gallery .w-2,.galleryyy .gallery .w-3,.galleryyy .gallery .w-4,.galleryyy .gallery .w-5,.galleryyy .gallery .w-6{
        grid-column:span 5;
    }
}


@keyframes move-down{

    0%{
        top:10%;
    }
    50%{
        top:35%;
    }
    100%{
        top:50%;
    }
}
