
.gallery{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* background-color: #eee; */
    margin-top: 5rem;
}

.section{
    width: 90%;
    margin-bottom: 5rem;
}

/* .section h1{
    
    font-size: 2rem;
    font-weight: 500;
    text-decoration: underline;
} */

.imageGrid{
    display: grid;
    width: 100%;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    align-items: center;
    
}

@media(max-width: 920px)
{
    .imageGrid{
        grid-template-columns: 50% 50%;
    }
    
}
@media(max-width: 720px)
{
    .imageGrid{
        grid-template-columns: 100%;
    }
    
}



.imageGrid div{
   
    /* overflow: hidden; */
}

.imageGrid div img{
    width: 100%;
    height: 15rem;
    /* border-radius: 10px; */
    transition: all 250ms;
    

}

.imageGrid div img:hover{
    transform: scale(107.5%);
}

