.gallery{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.section{
    display: grid;
    width: 100%;
    grid-template-columns: 25% 25% 25% 25%;
    align-items: center;

}


.section div{
    padding: 2%;
    overflow: hidden;
}

.section div img{
    transition: all 250ms;
}

.section div img:hover{
    transform: scale(105%);

}
