@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
h3{
  position:relative;
width: 160px;
height: 26px;

font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 160% */


color: #474747;
}
hr{
  border-radius: 0;
  border-style: solid;
  border-color: #F5F5DC;
}

body {
  background-color: #eee;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.class-header{
  color: #FFFFFF;
}
.grid {
  border-radius: 0 30px 0 30px;
  display: grid;
  width: 114em;
  grid-gap: 6rem;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  align-items: start;
}

.grid-item {
  background-color: #fff;
border-radius: 0 30px 0 30px;
  overflow: hidden;
  box-shadow: 0 3.5rem 6rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.2s;
}

.grid-item:hover {
  transform: translateY(-0.5%);
  transform: translateX(0.5%);
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);
}



.card-content {
  padding: 0;
}

.card-header {
  font-size: 3rem;
  font-weight: 500;
  color: #FFFFFF;
  margin-bottom: 1.5rem;
}

.card-text {
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  line-height: 1.7;
  color:#FFFFFF;
  margin-bottom: 2.5rem;
}

.card-btn {
  display: block;
  margin-left: 27%;
  width: 50%;
  padding: 15px;
  font-size: 2rem;
  text-align: center;
  color: #FFFFFF;
  background-color: #E84C3D;
  border-radius: 50px;
  border-color:#D9E3E3;
  border: 5px;
;

  transition: 0.2s;
  cursor: pointer;
  letter-spacing: 0.1rem;
}

.card-btn span {
  margin-left: 1rem;
  transition: 0.2s;
}

.card-btn:hover,
.card-btn:active {
  background-color: #c2cffc;
}

.card-btn:hover span,
.card-btn:active span {
  margin-left: 1.5rem;
    background-color: #E84C3D;
}


.Bird-container{
  padding:0;
  border: 0;
margin: 0;
  padding: 15px;
  background-color: #123749;
  border-radius: 0 30px 0 30px;
}

@media only screen and (max-width: 60em) {
  body {
    padding: 3rem;
  }

  .grid {
    grid-gap: 3rem;
  }
}
