@media screen and (min-width: 600px) {
    .individualTrack {
        width: 530px;
    }
} 
.individualTrack{
    transition-duration: 250ms;
}
.individualTrack:hover{
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.trackItem{
    border-bottom: 2px solid #0D3848;
}
.rounded-xl{
    border-radius: 0.75rem;
}